<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB52mdRFJ3u1l9y7B_UTorH-_Kt3bCyyS8</string>
	<key>GCM_SENDER_ID</key>
	<string>161626369553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.twitterclone</string>
	<key>PROJECT_ID</key>
	<string>twitter-clone-app-d00ad</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-clone-app-d00ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161626369553:ios:7bf01c3e9441894938cbb0</string>
</dict>
</plist>